<h1> Sligerry Instructors </h1>

<% @instructors.each do |i| %>
  <ul>  <%= link_to i.name, instructor_path(i) %> , <%= i.email %> </ul> 
  <% end %>

  <p><% if  current_instructor %>
       <% @instructor = current_instructor %>
       <%= link_to "Dashboard", instructor_path(@instructor) %>
       <% end %>
