<h1> Edit Course </h1> 

<% if @course.errors.any? %>
  <ul>
    <% @course.errors.full_messages.each do |message| %>
     
      <li><%= message %></li>
    <%end%>
</ul>
<% end %>


<%= form_for @course do |f|%>
    <%=render partial: 'form', locals: {f: f}%>
    <%=f.submit "Edit Course"%>
  <%end%> 